# macOS
.DS_Store
._*
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Icon?

# Xcode
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcodeproj
*.xcworkspace
DerivedData/
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Project
.worktrees
.claude/*.local.md
.claude/*.local.json
